*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.App{
  height: 90vh;
  width: 100%;
  text-align: center;
  padding: 5px;
  justify-content: center;
  border: 50px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}


.containerBox{
  background-color: white;
  border: 2px;
  max-width: 700px;
  width: 100%;
  margin: auto;
  height: 50vh;
  display: flex;
  align-items:center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  justify-content: center;
  
}

.containerBox .quote-design {
  margin-top: 15px;

  font-size: 18px;

}

.containerBox .author-design {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  
}


button{
  border-radius: 50%;
  padding: 10px;
  border: none;
  color: lightgoldenrodyellow;
  
}

.my-name{
  color: lightgoldenrodyellow;
  flex-direction: column;
  height: 10vh;
  margin-top: 20px;
  
}


.my-name  h1 {
  font-size: 70px;
  letter-spacing: 10px;
  color: lightgoldenrodyellow;
  text-align: center;
  outline: none;
  animation: animate 5s linear infinite;
}

.my-name h3 {
  font-size: 25px;
}




